extends layout

block content
  h1= title
  p Welcome to #{title}

  div(class='api_group') 
   span API
   ul  Samples
    li
     a(href="/api/v1") Version 1.0.0 Home
    li
     a(href="/api/v1/info") Info | Sample Call
   ul GET
    li
     a(href="/api/v1/findGroupWithId/12") Find Group By Id ( /api/v1/findGroupWithId/{id} )
   ul POST
    li
     a() Create Group ( /api/v1/createGroup )