extends layout

block content
  h1= title
  p Welcome to #{title}

  div(class='api_group') 
   span API
   ul 
    li
     a(href="/api/v1") Version 1.0.0 Home
    li
     a(href="/api/v1/info") Info | Sample Call